# Logs
frontend/logs
old-frontend/*.log
old-frontend/npm-debug.log*
old-frontend/yarn-debug.log*
old-frontend/yarn-error.log*
old-frontend/pnpm-debug.log*
old-frontend/lerna-debug.log*

old-frontend/node_modules
old-frontend/dist
old-frontend/dist-ssr
old-frontend/*.local

# Editor directories and files
old-frontend/.vscode/*
old-frontend/!.vscode/extensions.json
old-frontend/.idea
old-frontend/.DS_Store
old-frontend/*.suo
old-frontend/*.ntvs*
old-frontend/*.njsproj
old-frontend/*.sln
old-frontend/*.sw?

frontend/.DS_Store
frontend/node_modules
frontend/build
frontend/.svelte-kit
frontend/package
frontend/.env
frontend/.env.*
frontend/!.env.example
frontend/vite.config.js.timestamp-*
frontend/vite.config.ts.timestamp-*


.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?